html {
  background-image: url("../images/starfield.png");
  background-size: cover;
  font-family: 'Ubuntu Condensed', sans-serif;
}

main {
  position: relative;
}

.content {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 15em;
  left: 15%;
}

h1 {
  text-shadow: 0 0 7px #fff;
}

p:nth-child(2) {
  text-shadow: 0 0 7px #fff;
}

.border-line {
  padding-bottom: 0;
  width: 100%;
  transition: all linear .3s ease;
  border: 1.5px solid #90ccc3;
}

.btn-ghost:active .btn {
  padding-bottom: .3em;
}

.box:hover .btn-ghost {
  background-color: rgba(180, 255, 244, .2);
  color: #b4fff4;
  border-color: #b4fff4;
}

.btn-ghost {
  border-color: #90ccc3;
  color: #90ccc3;
  background-color: none;
  text-decoration: none;
}

.btn {
  text-align: center;
  padding: .6em 0 .8em;
  border-color: #90ccc3;
  color: #90ccc3;
  border-radius: 8px 8px 8px 8px;
}
