html {
  background-image: url("../images/starfield.png");
  background-size: cover;
  font-family: 'Ubuntu Condensed', sans-serif;
}

body {
  position: relative;
}

.content {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 15em;
}

h1 {
  text-shadow: 0 0 7px #fff;
}

p:nth-child(2) {
  text-shadow: 0 0 7px #fff;
}

.rocket {
  background-image: url("../images/rocket.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right;
  padding: 1em 2em;
}

.border-line {
  padding-bottom: .6em;
  bottom: -.7em;
  left: -3px;
  min-height: .7em;
  border: 3px solid #90ccc3;
  width: calc(100% + 6px)
}

a {
  transition: all linear .3s ease;
}

.border-line {
  padding-bottom: 0;
}

i {
  transition: all linear .3s ease;
}

.box:hover .btn-ghost {
  background-color: rgba(180, 255, 244, .2);
  color: #b4fff4;
  border-color: #b4fff4;
}

.box:hover .icon {
  transform: translateY(0 0 2em;);
}

.btn-ghost {
  border-color: #90ccc3;
  color: #90ccc3;
  background-color: none;
  text-decoration: none;
}

.btn {
  padding: .6em 1em .6em 1em;
  border-color: #90ccc3;
  border-bottom: 0;
  color: #90ccc3;
  border-radius: 6px 6px 0 0;

}
